/**
 *  Webform-Toolkit
 *  Dynamically generate an HTML form with field validation and custom errors
 *  from JSON
 *
 *  Copyright 2012-2015, Marc S. Brooks (https://mbrooks.info)
 *  Licensed under the MIT license:
 *  http://www.opensource.org/licenses/mit-license.php
 *
 *  Dependencies:
 *    jquery.js
 */

.webform div {
  padding: 1px 0px 1px 0px;
}

.webform .form_submit {
  clear: both;
  float: none;
  padding: 10px 0px 10px 0px;
}

.webform .checkbox {
  padding: 10px 0px 0px 0px;
}

.webform .checkbox input,
.webform .checkbox span {
  float: left;
}

.webform .checkbox span {
  padding-left: 5px;
}

.webform .radios {
  position: relative;
  margin-left: -5px;
  margin-top: -3px;
}

.webform .radios span {
  vertical-align: 0px;
}

.webform .menu {
  margin-left: -5px;
  margin-top: -1px;
  width: 200px;
}

.webform fieldset {
  border: none;
  margin: 5px 10px 0px 10px;
  padding: 0px;
}

.webform fieldset div {
  float: left;
  margin: 2px;
}

.webform input[type=text],
.webform input[type=password],
.webform input[type=file],
.webform textarea {
  border: 1px solid #DDDDDD;
  border-bottom: 1px solid #BBBBBB;
  border-left: 1px solid #AAAAAA;
  box-shadow: none;
  font-size: 13px;
  height: 20px;
  outline: none;
  width: 200px;
}

.webform input[type=text]:focus,
.webform input[type=password]:focus,
.webform textarea:focus {
  border: 1px solid #3399CC;
}

.webform input[type=radio] {
  margin: 10px;
}

.webform input[type=file] {
  border: 1px solid transparent;
  margin: 5px 0px 5px 0px;
  font-size: 11px;
}

.webform input[type=button],
.webform input[type=submit] {
  display: block;
  margin: 0px auto 0px auto;
  padding: 2px;
  position: relative;
}

.webform label {
  float: left;
  position: relative;
  top: 6px;
  width: 150px;
}

.webform p {
  padding: 5px;
  text-align: center;
}

.webform .field_desc {
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  font-size: 12px;
  margin-top: 5px;
}

.webform .error_mesg {
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  border-top: 1px solid #EEEEEE;
  display: none;
  font-size: 12px;
  margin-bottom: 20px;
}

.webform select {
  box-shadow: none;
  margin-left: 0px;
}

.webform textarea {
  height: 50px;
  resize: none;
}

.webform .error_on {
  border: 1px solid #FF0000 !important;
  color: #FF0000;
}

.webform .error_off {
  border: 1px solid #DDDDDD;
  border-bottom: 1px solid #BBBBBB;
  border-left: 1px solid #AAAAAA;
}
